<div class="visible-md-block visible-lg-block visible-sm-block visible-xs-block aside">


    <h2 class="title_block">intertainment</h2>

    <div class="aside-popular">

        <div class="widget">
            <div class="three_blocks_item three_blocks_item_post">
                <a href="#">
                    <div class="tb_img_wrap">
                        <div class="tb_img" style="background-image: url('images/img/aside.png')"></div>
                    </div>
                    <p class="tb_text">Fashion</p>

                    <p class="tb_top_meta">365-Day Challenge: I Drew One Funny T-shirt Design</p>
                </a>
            </div>
            <!--three_blocks_item_post-->
        </div>

        <div class="widget">
            <div class="three_blocks_item three_blocks_item_post">
                <a href="#">
                    <div class="tb_img_wrap">
                        <div class="tb_img" style="background-image: url('images/img/aside.png')"></div>
                    </div>
                    <p class="tb_text">Fashion</p>

                    <p class="tb_top_meta">365-Day Challenge: I Drew One Funny T-shirt Design</p>
                </a>
            </div>
            <!--three_blocks_item_post-->
        </div>

        <div class="widget">
            <div class="three_blocks_item three_blocks_item_post">
                <a href="#">
                    <div class="tb_img_wrap">
                        <div class="tb_img" style="background-image: url('images/img/aside.png')"></div>
                    </div>
                    <p class="tb_text">Fashion</p>

                    <p class="tb_top_meta">365-Day Challenge: I Drew One Funny T-shirt Design</p>
                </a>
            </div>
            <!--three_blocks_item_post-->
        </div>
    </div>


    <div class="aside-popular small_block hidden-xs">

        <h2 class="title_block">intertainment</h2>

        <div class="widget">
            <div class="wb_right">
                <a href="#">
                    <div class="wb_right_img_wrap">
                        <div class="wb_right_img"
                             style="background-image: url('images/img/home_latest_news.png')"></div>
                    </div>
                    <h2 class="wb_right_text">2016’s Swim Trend Revealed: Blurred Lines and Prints</h2></a>
            </div>
            <div class="wb_right">
                <a href="#">
                    <div class="wb_right_img_wrap">
                        <div class="wb_right_img"
                             style="background-image: url('images/img/home_latest_news.png')"></div>
                    </div>

                    <h2 class="wb_right_text">16 Lonely Houses On The Edge Of The World</h2></a>
            </div>
            <div class="wb_right">
                <a href="#">
                    <div class="wb_right_img_wrap">
                        <div class="wb_right_img"
                             style="background-image: url('images/img/home_latest_news.png')"></div>
                    </div>

                    <h2 class="wb_right_text">Actors Are Wearing the Best from Paris Week</h2></a>
            </div>
            <div class="wb_right">
                <a href="#">
                    <div class="wb_right_img_wrap">
                        <div class="wb_right_img"
                             style="background-image: url('images/img/home_latest_news.png')"></div>
                    </div>

                    <h2 class="wb_right_text">Actors Are Wearing the Best from Paris Week</h2></a>
            </div>
        </div>

    </div>
</div>
