<div id="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="top_block_big">
          <article>
            <a href="#" class="wrapp_item">
                <div class="wrap_img_article">
                  <div class="img_article" style="background-image: url('images/img/banner_big.png')"></div>
                </div>
              <div class="item_text">
                <h2 class="header_item">WATCH AWESOME KATE MIDDLETON GO SKIING</h2>
                <p class="meta_categoty">Global News</span></p>
              </div>
            </a>
          </article>
        </div>

            <div class="top_block_right clearfix">
                <article>
                    <a href="#" class="wrapp_item">
                        <div class="wrap_img_article">
                            <div class="img_article" style="background-image: url('images/img/banner_big.png')"></div>
                        </div>
                        <div class="item_text">
                            <h2 class="header_item">Improve your Health with 30 Minutes Every Day Jogging</h2>
                            <p class="meta_categoty">Global News</span></p>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="#" class="wrapp_item">
                        <div class="wrap_img_article">
                            <div class="img_article" style="background-image: url('images/img/banner_big.png')"></div>
                        </div>
                        <div class="item_text">
                            <h2 class="header_item">Improve your Health with 30 Minutes Every Day Jogging</h2>
                            <p class="meta_categoty">Global News</span></p>
                        </div>
                    </a>
                </article>
            </div>
            <!--<div class="top_block_middle">-->
            <!---->
    </div>
  </div>
</div>
