<div id="banner_widget" class="hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="wrap_ads_center">
                    <div class="banner-widget-center">
                        <img src="images/img/banner728.jpg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="social_links_block">
                    <img src="images/img/facebook.png" class="img-responsive" alt="">
                    <img src="images/img/twwe.png" class="img-responsive" alt="">
                    <img src="images/img/youtube.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
