      <div class="main_content">
          <h2 class="title_block">category</h2>
          <article>
              <a href="#" class="wrapp_item">
                  <div class="row">
                      <div class="col-xs-4">
                          <div class="wrap_img_article">
                              <div class="img_article"
                                   style="background-image: url('images/img/home_hot.png')"></div>
                          </div>
                      </div>
                      <div class="col-xs-8">
                          <div class="item_text">
                              <h2 class="header_item">The Only Tattoo Inspiration You’ll Ever Need</h2>

                              <p class="excerpt_item">Tattoos are forever —unless you remove them— so you
                                  might as well make ’em good.
                                  A well-done tattoo is hella sexy, so check out these pictures for some...
                                  you get inked.</span></p>

                              <p class="read_more_post">Read more</span></p>
                          </div>
                      </div>
                  </div>
              </a>
          </article>

          <article>
              <a href="#" class="wrapp_item">
                  <div class="row">
                      <div class="col-xs-4">
                          <div class="wrap_img_article">
                              <div class="img_article"
                                   style="background-image: url('images/img/home_hot.png')"></div>
                          </div>
                      </div>
                      <div class="col-xs-8">
                          <div class="item_text">
                              <h2 class="header_item">The Only Tattoo Inspiration You’ll Ever Need</h2>

                              <p class="excerpt_item">Tattoos are forever —unless you remove them— so you
                                  might as well make ’em good.
                                  A well-done tattoo is hella sexy, so check out these pictures for some...
                                  you get inked.</span></p>

                              <p class="read_more_post">Read more</span></p>
                          </div>
                      </div>
                  </div>
              </a>
          </article>

          <article>
              <a href="#" class="wrapp_item">
                  <div class="row">
                      <div class="col-xs-4">
                          <div class="wrap_img_article">
                              <div class="img_article"
                                   style="background-image: url('images/img/home_hot.png')"></div>
                          </div>
                      </div>
                      <div class="col-xs-8">
                          <div class="item_text">
                              <h2 class="header_item">The Only Tattoo Inspiration You’ll Ever Need</h2>

                              <p class="excerpt_item">Tattoos are forever —unless you remove them— so you
                                  might as well make ’em good.
                                  A well-done tattoo is hella sexy, so check out these pictures for some...
                                  you get inked.</span></p>

                              <p class="read_more_post">Read more</span></p>
                          </div>
                      </div>
                  </div>
              </a>
          </article>

          <article>
              <a href="#" class="wrapp_item">
                  <div class="row">
                      <div class="col-xs-4">
                          <div class="wrap_img_article">
                              <div class="img_article"
                                   style="background-image: url('images/img/home_hot.png')"></div>
                          </div>
                      </div>
                      <div class="col-xs-8">
                          <div class="item_text">
                              <h2 class="header_item">The Only Tattoo Inspiration You’ll Ever Need</h2>

                              <p class="excerpt_item">Tattoos are forever —unless you remove them— so you
                                  might as well make ’em good.
                                  A well-done tattoo is hella sexy, so check out these pictures for some...
                                  you get inked.</span></p>

                              <p class="read_more_post">Read more</span></p>
                          </div>
                      </div>
                  </div>
              </a>
          </article>

          <article>
              <a href="#" class="wrapp_item">
                  <div class="row">
                      <div class="col-xs-4">
                          <div class="wrap_img_article">
                              <div class="img_article"
                                   style="background-image: url('images/img/home_hot.png')"></div>
                          </div>
                      </div>
                      <div class="col-xs-8">
                          <div class="item_text">
                              <h2 class="header_item">The Only Tattoo Inspiration You’ll Ever Need</h2>

                              <p class="excerpt_item">Tattoos are forever —unless you remove them— so you
                                  might as well make ’em good.
                                  A well-done tattoo is hella sexy, so check out these pictures for some...
                                  you get inked.</span></p>

                              <p class="read_more_post">Read more</span></p>
                          </div>
                      </div>
                  </div>
              </a>
          </article>

          <article>
              <a href="#" class="wrapp_item">
                  <div class="row">
                      <div class="col-xs-4">
                          <div class="wrap_img_article">
                              <div class="img_article"
                                   style="background-image: url('images/img/home_hot.png')"></div>
                          </div>
                      </div>
                      <div class="col-xs-8">
                          <div class="item_text">
                              <h2 class="header_item">The Only Tattoo Inspiration You’ll Ever Need</h2>

                              <p class="excerpt_item">Tattoos are forever —unless you remove them— so you
                                  might as well make ’em good.
                                  A well-done tattoo is hella sexy, so check out these pictures for some...
                                  you get inked.</span></p>

                              <p class="read_more_post">Read more</span></p>
                          </div>
                      </div>
                  </div>
              </a>
          </article>
      </div>
