<div class="col-xs-12 col-sm-4 footer_about equal_footer">
  <a href="#" class="footer_logo_link">
    <img src="images/logo.png" alt="hyperactivzReport" class="footer_logo_image img-responsive">
  </a>
    <!--<div class="footer_social_links visible-xs">-->
        <!--<div class="top_footer_social">-->
            <!--<a href="#"><span class="icon icon-fb"></span></a>-->
            <!--<a href="#"><span class="icon icon-tw"></span></a>-->
            <!--<a href="#"><span class="icon icon-pt"></span></a>-->
        <!--</div>-->
    <!--</div>-->

  <div class="about_us widget">
    <h2 class="about_us_head widget-title">about us</h2>
    <p class="about_us_text">HyperActivz is a premium Wordpress review magazine theme, aliquam neque nunc,
      vestibulum et aliquet nisidapibus non velit sit amet, enean pretium sodalesorci placerat ultrices.</p>
  </div>

    <div class="footer_social_links">
        <a href="#"><span class="icon icon-fb"></span></a>
        <a href="#"><span class="icon icon-tw"></span></a>
        <a href="#"><span class="icon icon-pt"></span></a>
    </div>

</div>


