<div class="col-xs-12 col-sm-4 col-sm-4 footer_follow equal_footer">

    <div class="aside-popular small_block">

        <div class="widget">
            <h2 class="popular_post_head widget-title">POPULAR POSTS</h2>
            <div class="wb_right">
                <a href="#">
                    <div class="wb_right_img_wrap">
                        <div class="wb_right_img"
                             style="background-image: url('images/img/home_latest_news.png')"></div>
                    </div>
                    <div class="wb_right_text_wrap">
                    <h2 class="wb_right_text">2016’s Swim Trend Revealed: Blurred Lines and Prints</h2>
                    <p class="small-post-date">Apr 22, 2016</p>
                        </div>
                </a>
            </div>
            <div class="wb_right">
                <a href="#">
                    <div class="wb_right_img_wrap">
                        <div class="wb_right_img"
                             style="background-image: url('images/img/home_latest_news.png')"></div>
                    </div>
                    <div class="wb_right_text_wrap">
                        <h2 class="wb_right_text">2016’s Swim Trend Revealed: Blurred Lines and Prints</h2>
                        <p class="small-post-date">Apr 22, 2016</p>
                    </div>
                </a>
            </div>
            <div class="wb_right">
                <a href="#">
                    <div class="wb_right_img_wrap">
                        <div class="wb_right_img"
                             style="background-image: url('images/img/home_latest_news.png')"></div>
                    </div>
                    <div class="wb_right_text_wrap">
                        <h2 class="wb_right_text">2016’s Swim Trend Revealed: Blurred Lines and Prints</h2>
                        <p class="small-post-date">Apr 22, 2016</p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
