<div id="three_blocks">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
          <h2 class="title_block">Most Popular</h2>
        <div class="three_blocks_item three_blocks_left">
            <div class="wb_right">
                <a href="#">
                    <div class="wb_right_img_wrap">
                        <div class="wb_right_img" style="background-image: url('images/img/home_fratured.png')"></div>
                    </div>
                    <h2 class="wb_right_text">2016’s Swim Trend Revealed: Blurred Lines and Prints</h2></a>
            </div>
            <div class="wb_right">
                <a href="#">
                    <div class="wb_right_img_wrap">
                        <div class="wb_right_img" style="background-image: url('images/img/home_fratured.png')"></div>
                    </div>

                    <h2 class="wb_right_text">16 Lonely Houses On The Edge Of The World</h2></a>
            </div>
            <div class="wb_right">
                <a href="#">
                    <div class="wb_right_img_wrap">
                        <div class="wb_right_img" style="background-image: url('images/img/home_fratured.png')"></div>
                    </div>

                    <h2 class="wb_right_text">Actors Are Wearing the Best from Paris Week</h2></a>
            </div>
            <div class="wb_right">
                <a href="#">
                    <div class="wb_right_img_wrap">
                        <div class="wb_right_img" style="background-image: url('images/img/home_fratured.png')"></div>
                    </div>

                    <h2 class="wb_right_text">Actors Are Wearing the Best from Paris Week</h2></a>
            </div>
        </div><!--three_blocks_item_social-->
      </div>
      <div class="col-xs-12 col-sm-6 hidden-xs">
          <h2 class="title_block">Most Popular</h2>
        <div class="three_blocks_item three_blocks_item_center clearfix">
            <div class="tbcb_item">
                <a href="#">
                    <div class="tb_img_wrap">
                        <div class="tb_img" style="background-image: url('images/img/aside.png')"></div>
                    </div>
                    <p class="tbcb_item_meta">
                        <span class="tbcb_item_category">Animals</span></span>
                    </p>
                    <h2 class="tbcb_item_head">Take a Wonderful Vacation at the 15 Best Mountain Hotels</h2>
                </a>
            </div>
            <div class="tbcb_item">
                <a href="#">
                    <div class="tb_img_wrap">
                        <div class="tb_img" style="background-image: url('images/img/aside.png')"></div>
                    </div>
                    <p class="tbcb_item_meta">
                        <span class="tbcb_item_category">Animals</span></span>
                    </p>
                    <h2 class="tbcb_item_head">Behold, The World First Floating Snowflake Hotel</h2>
                </a>
            </div>
            <div class="tbcb_item">
                <a href="#">
                    <div class="tb_img_wrap">
                        <div class="tb_img" style="background-image: url('images/img/aside.png')"></div>
                    </div>
                    <p class="tbcb_item_meta">
                        <span class="tbcb_item_category">Animals</span></span>
                    </p>
                    <h2 class="tbcb_item_head">Behold, The World First Floating Snowflake Hotel</h2>
                </a>
            </div>
            <div class="tbcb_item_single_center_post">
                <a href="#">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="wrap_meta_text">
                            <p class="tbcb_item_meta">
                                <span class="tbcb_item_category">Animals</span></span>
                            </p>
                            <h2 class="tbcb_item_head">Behold, The World First Floating Snowflake Hotel</h2>
                                <p class="tbcb_item_excerpt">
                                    All right. Well, take care yourself. The last time I felt it was in the...
                                </p>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div class="tb_img_wrap_single_center">
                                <div class="tb_img" style="background-image: url('images/img/home_fratured_big.png')"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div><!--three_blocks_item_post-->
      </div>
      <div class="col-xs-12 col-sm-3 hidden-xs">
          <h2 class="title_block">Most Popular</h2>
        <div class="three_blocks_item three_blocks_item_right hiden-xs">

          <div class="tbcb_item">
            <a href="#">
                <div class="tb_img_wrap">
                    <div class="tb_img" style="background-image: url('images/img/aside.png')"></div>
                </div>
                <p class="tbcb_item_meta">
                    <span class="tbcb_item_category">Animals</span></span>
                </p>
              <h2 class="tbcb_item_head">Take a Wonderful Vacation at the 15 Best Mountain Hotels</h2>
            </a>
          </div>
          <div class="tbcb_item">
              <a href="#">
                  <div class="tb_img_wrap">
                      <div class="tb_img" style="background-image: url('images/img/aside.png')"></div>
                  </div>
                  <p class="tbcb_item_meta">
                      <span class="tbcb_item_category">Animals</span></span>
                  </p>
                  <h2 class="tbcb_item_head">Take a Wonderful Vacation at the 15 Best Mountain Hotels</h2>

              </a>
          </div>
          <hr class="tbcb_border visible-xs-block">
        </div><!--three_blocks_item_center-->
      </div>
    </div>
  </div>
</div>
