.footer_about {
  text-align: center;
  @media (min-width: $screen-sm-min) {
    // (S) 768
    text-align: left;
  }

  .footer_logo_link {
    margin-top: 22px;
    display: inline-block;
    @media (min-width: $screen-sm-min) {
      // (S) 768
      margin-top: 0;
      padding-bottom: 30px;
    }
  }

  .about_us {
    .about_us_head {

    }
    .about_us_text {
      @extend .footer_main_text;
      @media (min-width: $screen-sm-min) {
        // (S) 768
        text-align: left;
      }
     }

  }

  .search-form {
    > label {
      width: 75.6%;
    }

    .screen-reader-text {
      display: none;
    }
    input[type=search].search-field {
      width: 100%;
      height: 42px;
      color: #b8b8b8;
      background-color: #404041;
      border: solid 1px #fcb040;
      padding: 3px 10px;

    }
    input[type=submit].search-submit {
      position: relative;
      display: inline-block;
      background: url(../images/sprite/search.png);
      width: 22px;
      height: 22px;
      left: 5px;
      bottom: 2px;
      font-size: 0;
      line-height: 22px;
      color: transparent;
      padding:0;
      //background: transparent;
      border:0 none;
      cursor:pointer;
      border-radius: 0;
    }

  }
  .footer_social_links{
    .top_footer_social{
      display:block;
      float: right;
      padding: 50px 15px;
    }
    a{
      padding-right: 50px;
    }
  }
}
