
$second_nav: #404040;
$main_nav: #000101;
$banner_big: #010101;
$banner_meta: #7d7d7d;
$footer_nav: #f6f6f6;
$footer_main_text: #a5a5a5;
$footer_widget_main: #a1a1a1;
$home_head: #000000;
$home_hot_text: #666666;
$article_meta: #454545;
$article_text: #444444;
$white: #ffffff;
$reddish-pink: #ff2374;
$footer_menu_bg: #464646;
$footer_main_bg: #595959;
$footer_hr: #d6d6d6;
$article_button_bg: #ffc61a;
$main_bg: #f6f6f6;
